* {
	padding: 0;
	margin: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
	background-color: #38240d;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 600px;
	gap: 20px;
}

h1 {
	margin-bottom: 10px;
}

form {
	width: 250px;
	outline: #d0d0d7 dashed 2px;
	outline-offset: -10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

form p {
	font-size: 0.8em;
}

.container {
	background-color: white;
	padding: 40px;
	border-radius: 10px;
	height: 100%;
	max-height: 450px;
	overflow: auto;
	box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 5px;
}

.dropdown-container {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

#task-container {
	width: 500px;
}

hr {
	margin: 10px 0;
	border: dashed 1px #acaa9e;
}

input,
label {
	display: block;
	width: 100%;
	min-width: 110px;
	box-sizing: border-box;
	margin-bottom: 0.4em;
}

input {
	margin-bottom: 0.8em;
}

select {
	margin-bottom: 0.8em;
	width: 100%;
	padding: 0.4em 0.8em;
}

.button-container {
	display: flex;
	gap: 10px;
	margin: 10px 0 20px;
}

.button-container button {
	width: 100%;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	border-style: none;
	border-radius: 10px;
	padding: 8px 0;
}

.button-container button:active {
	transform: translateY(2px);
}

#addTaskButton {
	background-color: #9e4e0c;
	box-shadow: 0 5px #743705;
}

#addTaskButton:hover {
	background-color: #a95e0f;
}

#refreshTaskButton {
	background-color: #73764a;
	box-shadow: 0 5px #5f5c3a;
}

#refreshTaskButton:hover {
	background-color: #878256;
}

#message {
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 100%;
	padding: 0 20px;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	line-height: 1.5;
	border: none;
	text-align: center;
}

li {
	border: black solid 2px;
	list-style: none;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 10px;
}

li select {
	margin: 10px 0 0 0;
	width: auto;
}

li h3 {
	font-weight: normal;
	margin-bottom: 5px;
}

li button {
	padding: 0.4em 0.8em;
}

.overdue-marker {
	color: red;
	text-transform: uppercase;
}

.task-done {
	color: #888;
	border: #c5c5c5 solid 2px;
}

.task-done h3 {
	text-decoration: line-through;
}
